.mar-a0 { margin: 0px; }
.mar-a1 { margin: 1px; }
.mar-a2 { margin: 2px; }
.mar-a3 { margin: 3px; }
.mar-a4 { margin: 4px; }
.mar-a5 { margin: 5px; }
.mar-a6 { margin: 6px; }
.mar-a7 { margin: 7px; }
.mar-a8 { margin: 8px; }
.mar-a9 { margin: 9px; }
.mar-a10 { margin: 10px; }
.mar-a11 { margin: 11px; }
.mar-a12 { margin: 12px; }
.mar-a13 { margin: 13px; }
.mar-a14 { margin: 14px; }
.mar-a15 { margin: 15px; }
.mar-a16 { margin: 16px; }
.mar-a17 { margin: 17px; }
.mar-a18 { margin: 18px; }
.mar-a19 { margin: 19px; }
.mar-a20 { margin: 20px; }
.mar-a21 { margin: 21px; }
.mar-a22 { margin: 22px; }
.mar-a23 { margin: 23px; }
.mar-a24 { margin: 24px; }
.mar-a25 { margin: 25px; }
.mar-a26 { margin: 26px; }
.mar-a27 { margin: 27px; }
.mar-a28 { margin: 28px; }
.mar-a29 { margin: 29px; }
.mar-a30 { margin: 30px; }
.mar-a31 { margin: 31px; }
.mar-a32 { margin: 32px; }
.mar-a33 { margin: 33px; }
.mar-a34 { margin: 34px; }
.mar-a35 { margin: 35px; }
.mar-a36 { margin: 36px; }
.mar-a37 { margin: 37px; }
.mar-a38 { margin: 38px; }
.mar-a39 { margin: 39px; }
.mar-a40 { margin: 40px; }
.mar-a41 { margin: 41px; }
.mar-a42 { margin: 42px; }
.mar-a43 { margin: 43px; }
.mar-a44 { margin: 44px; }
.mar-a45 { margin: 45px; }
.mar-a46 { margin: 46px; }
.mar-a47 { margin: 47px; }
.mar-a48 { margin: 48px; }
.mar-a49 { margin: 49px; }
.mar-a50 { margin: 50px; }
.mar-a51 { margin: 51px; }
.mar-a52 { margin: 52px; }
.mar-a53 { margin: 53px; }
.mar-a54 { margin: 54px; }
.mar-a55 { margin: 55px; }
.mar-a56 { margin: 56px; }
.mar-a57 { margin: 57px; }
.mar-a58 { margin: 58px; }
.mar-a59 { margin: 59px; }
.mar-a60 { margin: 60px; }
.mar-a61 { margin: 61px; }
.mar-a62 { margin: 62px; }
.mar-a63 { margin: 63px; }
.mar-a64 { margin: 64px; }
.mar-a65 { margin: 65px; }
.mar-a66 { margin: 66px; }
.mar-a67 { margin: 67px; }
.mar-a68 { margin: 68px; }
.mar-a69 { margin: 69px; }
.mar-a70 { margin: 70px; }
.mar-a71 { margin: 71px; }
.mar-a72 { margin: 72px; }
.mar-a73 { margin: 73px; }
.mar-a74 { margin: 74px; }
.mar-a75 { margin: 75px; }
.mar-a76 { margin: 76px; }
.mar-a77 { margin: 77px; }
.mar-a78 { margin: 78px; }
.mar-a79 { margin: 79px; }
.mar-a80 { margin: 80px; }
.mar-a81 { margin: 81px; }
.mar-a82 { margin: 82px; }
.mar-a83 { margin: 83px; }
.mar-a84 { margin: 84px; }
.mar-a85 { margin: 85px; }
.mar-a86 { margin: 86px; }
.mar-a87 { margin: 87px; }
.mar-a88 { margin: 88px; }
.mar-a89 { margin: 89px; }
.mar-a90 { margin: 90px; }
.mar-a91 { margin: 91px; }
.mar-a92 { margin: 92px; }
.mar-a93 { margin: 93px; }
.mar-a94 { margin: 94px; }
.mar-a95 { margin: 95px; }
.mar-a96 { margin: 96px; }
.mar-a97 { margin: 97px; }
.mar-a98 { margin: 98px; }
.mar-a99 { margin: 99px; }
.mar-a100 { margin: 100px; }

.mar-t0 { margin-top: 0px; }
.mar-t1 { margin-top: 1px; }
.mar-t2 { margin-top: 2px; }
.mar-t3 { margin-top: 3px; }
.mar-t4 { margin-top: 4px; }
.mar-t5 { margin-top: 5px; }
.mar-t6 { margin-top: 6px; }
.mar-t7 { margin-top: 7px; }
.mar-t8 { margin-top: 8px; }
.mar-t9 { margin-top: 9px; }
.mar-t10 { margin-top: 10px; }
.mar-t11 { margin-top: 11px; }
.mar-t12 { margin-top: 12px; }
.mar-t13 { margin-top: 13px; }
.mar-t14 { margin-top: 14px; }
.mar-t15 { margin-top: 15px; }
.mar-t16 { margin-top: 16px; }
.mar-t17 { margin-top: 17px; }
.mar-t18 { margin-top: 18px; }
.mar-t19 { margin-top: 19px; }
.mar-t20 { margin-top: 20px; }
.mar-t21 { margin-top: 21px; }
.mar-t22 { margin-top: 22px; }
.mar-t23 { margin-top: 23px; }
.mar-t24 { margin-top: 24px; }
.mar-t25 { margin-top: 25px; }
.mar-t26 { margin-top: 26px; }
.mar-t27 { margin-top: 27px; }
.mar-t28 { margin-top: 28px; }
.mar-t29 { margin-top: 29px; }
.mar-t30 { margin-top: 30px; }
.mar-t31 { margin-top: 31px; }
.mar-t32 { margin-top: 32px; }
.mar-t33 { margin-top: 33px; }
.mar-t34 { margin-top: 34px; }
.mar-t35 { margin-top: 35px; }
.mar-t36 { margin-top: 36px; }
.mar-t37 { margin-top: 37px; }
.mar-t38 { margin-top: 38px; }
.mar-t39 { margin-top: 39px; }
.mar-t40 { margin-top: 40px; }
.mar-t41 { margin-top: 41px; }
.mar-t42 { margin-top: 42px; }
.mar-t43 { margin-top: 43px; }
.mar-t44 { margin-top: 44px; }
.mar-t45 { margin-top: 45px; }
.mar-t46 { margin-top: 46px; }
.mar-t47 { margin-top: 47px; }
.mar-t48 { margin-top: 48px; }
.mar-t49 { margin-top: 49px; }
.mar-t50 { margin-top: 50px; }
.mar-t51 { margin-top: 51px; }
.mar-t52 { margin-top: 52px; }
.mar-t53 { margin-top: 53px; }
.mar-t54 { margin-top: 54px; }
.mar-t55 { margin-top: 55px; }
.mar-t56 { margin-top: 56px; }
.mar-t57 { margin-top: 57px; }
.mar-t58 { margin-top: 58px; }
.mar-t59 { margin-top: 59px; }
.mar-t60 { margin-top: 60px; }
.mar-t61 { margin-top: 61px; }
.mar-t62 { margin-top: 62px; }
.mar-t63 { margin-top: 63px; }
.mar-t64 { margin-top: 64px; }
.mar-t65 { margin-top: 65px; }
.mar-t66 { margin-top: 66px; }
.mar-t67 { margin-top: 67px; }
.mar-t68 { margin-top: 68px; }
.mar-t69 { margin-top: 69px; }
.mar-t70 { margin-top: 70px; }
.mar-t71 { margin-top: 71px; }
.mar-t72 { margin-top: 72px; }
.mar-t73 { margin-top: 73px; }
.mar-t74 { margin-top: 74px; }
.mar-t75 { margin-top: 75px; }
.mar-t76 { margin-top: 76px; }
.mar-t77 { margin-top: 77px; }
.mar-t78 { margin-top: 78px; }
.mar-t79 { margin-top: 79px; }
.mar-t80 { margin-top: 80px; }
.mar-t81 { margin-top: 81px; }
.mar-t82 { margin-top: 82px; }
.mar-t83 { margin-top: 83px; }
.mar-t84 { margin-top: 84px; }
.mar-t85 { margin-top: 85px; }
.mar-t86 { margin-top: 86px; }
.mar-t87 { margin-top: 87px; }
.mar-t88 { margin-top: 88px; }
.mar-t89 { margin-top: 89px; }
.mar-t90 { margin-top: 90px; }
.mar-t91 { margin-top: 91px; }
.mar-t92 { margin-top: 92px; }
.mar-t93 { margin-top: 93px; }
.mar-t94 { margin-top: 94px; }
.mar-t95 { margin-top: 95px; }
.mar-t96 { margin-top: 96px; }
.mar-t97 { margin-top: 97px; }
.mar-t98 { margin-top: 98px; }
.mar-t99 { margin-top: 99px; }
.mar-t100 { margin-top: 100px; }

.mar-b0 { margin-bottom: 0px; }
.mar-b1 { margin-bottom: 1px; }
.mar-b2 { margin-bottom: 2px; }
.mar-b3 { margin-bottom: 3px; }
.mar-b4 { margin-bottom: 4px; }
.mar-b5 { margin-bottom: 5px; }
.mar-b6 { margin-bottom: 6px; }
.mar-b7 { margin-bottom: 7px; }
.mar-b8 { margin-bottom: 8px; }
.mar-b9 { margin-bottom: 9px; }
.mar-b10 { margin-bottom: 10px; }
.mar-b11 { margin-bottom: 11px; }
.mar-b12 { margin-bottom: 12px; }
.mar-b13 { margin-bottom: 13px; }
.mar-b14 { margin-bottom: 14px; }
.mar-b15 { margin-bottom: 15px; }
.mar-b16 { margin-bottom: 16px; }
.mar-b17 { margin-bottom: 17px; }
.mar-b18 { margin-bottom: 18px; }
.mar-b19 { margin-bottom: 19px; }
.mar-b20 { margin-bottom: 20px; }
.mar-b21 { margin-bottom: 21px; }
.mar-b22 { margin-bottom: 22px; }
.mar-b23 { margin-bottom: 23px; }
.mar-b24 { margin-bottom: 24px; }
.mar-b25 { margin-bottom: 25px; }
.mar-b26 { margin-bottom: 26px; }
.mar-b27 { margin-bottom: 27px; }
.mar-b28 { margin-bottom: 28px; }
.mar-b29 { margin-bottom: 29px; }
.mar-b30 { margin-bottom: 30px; }
.mar-b31 { margin-bottom: 31px; }
.mar-b32 { margin-bottom: 32px; }
.mar-b33 { margin-bottom: 33px; }
.mar-b34 { margin-bottom: 34px; }
.mar-b35 { margin-bottom: 35px; }
.mar-b36 { margin-bottom: 36px; }
.mar-b37 { margin-bottom: 37px; }
.mar-b38 { margin-bottom: 38px; }
.mar-b39 { margin-bottom: 39px; }
.mar-b40 { margin-bottom: 40px; }
.mar-b41 { margin-bottom: 41px; }
.mar-b42 { margin-bottom: 42px; }
.mar-b43 { margin-bottom: 43px; }
.mar-b44 { margin-bottom: 44px; }
.mar-b45 { margin-bottom: 45px; }
.mar-b46 { margin-bottom: 46px; }
.mar-b47 { margin-bottom: 47px; }
.mar-b48 { margin-bottom: 48px; }
.mar-b49 { margin-bottom: 49px; }
.mar-b50 { margin-bottom: 50px; }
.mar-b51 { margin-bottom: 51px; }
.mar-b52 { margin-bottom: 52px; }
.mar-b53 { margin-bottom: 53px; }
.mar-b54 { margin-bottom: 54px; }
.mar-b55 { margin-bottom: 55px; }
.mar-b56 { margin-bottom: 56px; }
.mar-b57 { margin-bottom: 57px; }
.mar-b58 { margin-bottom: 58px; }
.mar-b59 { margin-bottom: 59px; }
.mar-b60 { margin-bottom: 60px; }
.mar-b61 { margin-bottom: 61px; }
.mar-b62 { margin-bottom: 62px; }
.mar-b63 { margin-bottom: 63px; }
.mar-b64 { margin-bottom: 64px; }
.mar-b65 { margin-bottom: 65px; }
.mar-b66 { margin-bottom: 66px; }
.mar-b67 { margin-bottom: 67px; }
.mar-b68 { margin-bottom: 68px; }
.mar-b69 { margin-bottom: 69px; }
.mar-b70 { margin-bottom: 70px; }
.mar-b71 { margin-bottom: 71px; }
.mar-b72 { margin-bottom: 72px; }
.mar-b73 { margin-bottom: 73px; }
.mar-b74 { margin-bottom: 74px; }
.mar-b75 { margin-bottom: 75px; }
.mar-b76 { margin-bottom: 76px; }
.mar-b77 { margin-bottom: 77px; }
.mar-b78 { margin-bottom: 78px; }
.mar-b79 { margin-bottom: 79px; }
.mar-b80 { margin-bottom: 80px; }
.mar-b81 { margin-bottom: 81px; }
.mar-b82 { margin-bottom: 82px; }
.mar-b83 { margin-bottom: 83px; }
.mar-b84 { margin-bottom: 84px; }
.mar-b85 { margin-bottom: 85px; }
.mar-b86 { margin-bottom: 86px; }
.mar-b87 { margin-bottom: 87px; }
.mar-b88 { margin-bottom: 88px; }
.mar-b89 { margin-bottom: 89px; }
.mar-b90 { margin-bottom: 90px; }
.mar-b91 { margin-bottom: 91px; }
.mar-b92 { margin-bottom: 92px; }
.mar-b93 { margin-bottom: 93px; }
.mar-b94 { margin-bottom: 94px; }
.mar-b95 { margin-bottom: 95px; }
.mar-b96 { margin-bottom: 96px; }
.mar-b97 { margin-bottom: 97px; }
.mar-b98 { margin-bottom: 98px; }
.mar-b99 { margin-bottom: 99px; }
.mar-b100 { margin-bottom: 100px; }

.mar-r0 { margin-right: 0px; }
.mar-r1 { margin-right: 1px; }
.mar-r2 { margin-right: 2px; }
.mar-r3 { margin-right: 3px; }
.mar-r4 { margin-right: 4px; }
.mar-r5 { margin-right: 5px; }
.mar-r6 { margin-right: 6px; }
.mar-r7 { margin-right: 7px; }
.mar-r8 { margin-right: 8px; }
.mar-r9 { margin-right: 9px; }
.mar-r10 { margin-right: 10px; }
.mar-r11 { margin-right: 11px; }
.mar-r12 { margin-right: 12px; }
.mar-r13 { margin-right: 13px; }
.mar-r14 { margin-right: 14px; }
.mar-r15 { margin-right: 15px; }
.mar-r16 { margin-right: 16px; }
.mar-r17 { margin-right: 17px; }
.mar-r18 { margin-right: 18px; }
.mar-r19 { margin-right: 19px; }
.mar-r20 { margin-right: 20px; }
.mar-r21 { margin-right: 21px; }
.mar-r22 { margin-right: 22px; }
.mar-r23 { margin-right: 23px; }
.mar-r24 { margin-right: 24px; }
.mar-r25 { margin-right: 25px; }
.mar-r26 { margin-right: 26px; }
.mar-r27 { margin-right: 27px; }
.mar-r28 { margin-right: 28px; }
.mar-r29 { margin-right: 29px; }
.mar-r30 { margin-right: 30px; }
.mar-r31 { margin-right: 31px; }
.mar-r32 { margin-right: 32px; }
.mar-r33 { margin-right: 33px; }
.mar-r34 { margin-right: 34px; }
.mar-r35 { margin-right: 35px; }
.mar-r36 { margin-right: 36px; }
.mar-r37 { margin-right: 37px; }
.mar-r38 { margin-right: 38px; }
.mar-r39 { margin-right: 39px; }
.mar-r40 { margin-right: 40px; }
.mar-r41 { margin-right: 41px; }
.mar-r42 { margin-right: 42px; }
.mar-r43 { margin-right: 43px; }
.mar-r44 { margin-right: 44px; }
.mar-r45 { margin-right: 45px; }
.mar-r46 { margin-right: 46px; }
.mar-r47 { margin-right: 47px; }
.mar-r48 { margin-right: 48px; }
.mar-r49 { margin-right: 49px; }
.mar-r50 { margin-right: 50px; }
.mar-r51 { margin-right: 51px; }
.mar-r52 { margin-right: 52px; }
.mar-r53 { margin-right: 53px; }
.mar-r54 { margin-right: 54px; }
.mar-r55 { margin-right: 55px; }
.mar-r56 { margin-right: 56px; }
.mar-r57 { margin-right: 57px; }
.mar-r58 { margin-right: 58px; }
.mar-r59 { margin-right: 59px; }
.mar-r60 { margin-right: 60px; }
.mar-r61 { margin-right: 61px; }
.mar-r62 { margin-right: 62px; }
.mar-r63 { margin-right: 63px; }
.mar-r64 { margin-right: 64px; }
.mar-r65 { margin-right: 65px; }
.mar-r66 { margin-right: 66px; }
.mar-r67 { margin-right: 67px; }
.mar-r68 { margin-right: 68px; }
.mar-r69 { margin-right: 69px; }
.mar-r70 { margin-right: 70px; }
.mar-r71 { margin-right: 71px; }
.mar-r72 { margin-right: 72px; }
.mar-r73 { margin-right: 73px; }
.mar-r74 { margin-right: 74px; }
.mar-r75 { margin-right: 75px; }
.mar-r76 { margin-right: 76px; }
.mar-r77 { margin-right: 77px; }
.mar-r78 { margin-right: 78px; }
.mar-r79 { margin-right: 79px; }
.mar-r80 { margin-right: 80px; }
.mar-r81 { margin-right: 81px; }
.mar-r82 { margin-right: 82px; }
.mar-r83 { margin-right: 83px; }
.mar-r84 { margin-right: 84px; }
.mar-r85 { margin-right: 85px; }
.mar-r86 { margin-right: 86px; }
.mar-r87 { margin-right: 87px; }
.mar-r88 { margin-right: 88px; }
.mar-r89 { margin-right: 89px; }
.mar-r90 { margin-right: 90px; }
.mar-r91 { margin-right: 91px; }
.mar-r92 { margin-right: 92px; }
.mar-r93 { margin-right: 93px; }
.mar-r94 { margin-right: 94px; }
.mar-r95 { margin-right: 95px; }
.mar-r96 { margin-right: 96px; }
.mar-r97 { margin-right: 97px; }
.mar-r98 { margin-right: 98px; }
.mar-r99 { margin-right: 99px; }
.mar-r100 { margin-right: 100px; }




.mar-l0 { margin-left: 0px; }
.mar-l1 { margin-left: 1px; }
.mar-l2 { margin-left: 2px; }
.mar-l3 { margin-left: 3px; }
.mar-l4 { margin-left: 4px; }
.mar-l5 { margin-left: 5px; }
.mar-l6 { margin-left: 6px; }
.mar-l7 { margin-left: 7px; }
.mar-l8 { margin-left: 8px; }
.mar-l9 { margin-left: 9px; }
.mar-l10 { margin-left: 10px; }
.mar-l11 { margin-left: 11px; }
.mar-l12 { margin-left: 12px; }
.mar-l13 { margin-left: 13px; }
.mar-l14 { margin-left: 14px; }
.mar-l15 { margin-left: 15px; }
.mar-l16 { margin-left: 16px; }
.mar-l17 { margin-left: 17px; }
.mar-l18 { margin-left: 18px; }
.mar-l19 { margin-left: 19px; }
.mar-l20 { margin-left: 20px; }
.mar-l21 { margin-left: 21px; }
.mar-l22 { margin-left: 22px; }
.mar-l23 { margin-left: 23px; }
.mar-l24 { margin-left: 24px; }
.mar-l25 { margin-left: 25px; }
.mar-l26 { margin-left: 26px; }
.mar-l27 { margin-left: 27px; }
.mar-l28 { margin-left: 28px; }
.mar-l29 { margin-left: 29px; }
.mar-l30 { margin-left: 30px; }
.mar-l31 { margin-left: 31px; }
.mar-l32 { margin-left: 32px; }
.mar-l33 { margin-left: 33px; }
.mar-l34 { margin-left: 34px; }
.mar-l35 { margin-left: 35px; }
.mar-l36 { margin-left: 36px; }
.mar-l37 { margin-left: 37px; }
.mar-l38 { margin-left: 38px; }
.mar-l39 { margin-left: 39px; }
.mar-l40 { margin-left: 40px; }
.mar-l41 { margin-left: 41px; }
.mar-l42 { margin-left: 42px; }
.mar-l43 { margin-left: 43px; }
.mar-l44 { margin-left: 44px; }
.mar-l45 { margin-left: 45px; }
.mar-l46 { margin-left: 46px; }
.mar-l47 { margin-left: 47px; }
.mar-l48 { margin-left: 48px; }
.mar-l49 { margin-left: 49px; }
.mar-l50 { margin-left: 50px; }
.mar-l51 { margin-left: 51px; }
.mar-l52 { margin-left: 52px; }
.mar-l53 { margin-left: 53px; }
.mar-l54 { margin-left: 54px; }
.mar-l55 { margin-left: 55px; }
.mar-l56 { margin-left: 56px; }
.mar-l57 { margin-left: 57px; }
.mar-l58 { margin-left: 58px; }
.mar-l59 { margin-left: 59px; }
.mar-l60 { margin-left: 60px; }
.mar-l61 { margin-left: 61px; }
.mar-l62 { margin-left: 62px; }
.mar-l63 { margin-left: 63px; }
.mar-l64 { margin-left: 64px; }
.mar-l65 { margin-left: 65px; }
.mar-l66 { margin-left: 66px; }
.mar-l67 { margin-left: 67px; }
.mar-l68 { margin-left: 68px; }
.mar-l69 { margin-left: 69px; }
.mar-l70 { margin-left: 70px; }
.mar-l71 { margin-left: 71px; }
.mar-l72 { margin-left: 72px; }
.mar-l73 { margin-left: 73px; }
.mar-l74 { margin-left: 74px; }
.mar-l75 { margin-left: 75px; }
.mar-l76 { margin-left: 76px; }
.mar-l77 { margin-left: 77px; }
.mar-l78 { margin-left: 78px; }
.mar-l79 { margin-left: 79px; }
.mar-l80 { margin-left: 80px; }
.mar-l81 { margin-left: 81px; }
.mar-l82 { margin-left: 82px; }
.mar-l83 { margin-left: 83px; }
.mar-l84 { margin-left: 84px; }
.mar-l85 { margin-left: 85px; }
.mar-l86 { margin-left: 86px; }
.mar-l87 { margin-left: 87px; }
.mar-l88 { margin-left: 88px; }
.mar-l89 { margin-left: 89px; }
.mar-l90 { margin-left: 90px; }
.mar-l91 { margin-left: 91px; }
.mar-l92 { margin-left: 92px; }
.mar-l93 { margin-left: 93px; }
.mar-l94 { margin-left: 94px; }
.mar-l95 { margin-left: 95px; }
.mar-l96 { margin-left: 96px; }
.mar-l97 { margin-left: 97px; }
.mar-l98 { margin-left: 98px; }
.mar-l99 { margin-left: 99px; }
.mar-l100 { margin-left: 100px; }

.pad-l0 { padding-left: 0px; }
.pad-l1 { padding-left: 1px; }
.pad-l2 { padding-left: 2px; }
.pad-l3 { padding-left: 3px; }
.pad-l4 { padding-left: 4px; }
.pad-l5 { padding-left: 5px; }
.pad-l6 { padding-left: 6px; }
.pad-l7 { padding-left: 7px; }
.pad-l8 { padding-left: 8px; }
.pad-l9 { padding-left: 9px; }
.pad-l10 { padding-left: 10px; }
.pad-l11 { padding-left: 11px; }
.pad-l12 { padding-left: 12px; }
.pad-l13 { padding-left: 13px; }
.pad-l14 { padding-left: 14px; }
.pad-l15 { padding-left: 15px; }
.pad-l16 { padding-left: 16px; }
.pad-l17 { padding-left: 17px; }
.pad-l18 { padding-left: 18px; }
.pad-l19 { padding-left: 19px; }
.pad-l20 { padding-left: 20px; }
.pad-l21 { padding-left: 21px; }
.pad-l22 { padding-left: 22px; }
.pad-l23 { padding-left: 23px; }
.pad-l24 { padding-left: 24px; }
.pad-l25 { padding-left: 25px; }
.pad-l26 { padding-left: 26px; }
.pad-l27 { padding-left: 27px; }
.pad-l28 { padding-left: 28px; }
.pad-l29 { padding-left: 29px; }
.pad-l30 { padding-left: 30px; }
.pad-l31 { padding-left: 31px; }
.pad-l32 { padding-left: 32px; }
.pad-l33 { padding-left: 33px; }
.pad-l34 { padding-left: 34px; }
.pad-l35 { padding-left: 35px; }
.pad-l36 { padding-left: 36px; }
.pad-l37 { padding-left: 37px; }
.pad-l38 { padding-left: 38px; }
.pad-l39 { padding-left: 39px; }
.pad-l40 { padding-left: 40px; }
.pad-l41 { padding-left: 41px; }
.pad-l42 { padding-left: 42px; }
.pad-l43 { padding-left: 43px; }
.pad-l44 { padding-left: 44px; }
.pad-l45 { padding-left: 45px; }
.pad-l46 { padding-left: 46px; }
.pad-l47 { padding-left: 47px; }
.pad-l48 { padding-left: 48px; }
.pad-l49 { padding-left: 49px; }
.pad-l50 { padding-left: 50px; }
.pad-l51 { padding-left: 51px; }
.pad-l52 { padding-left: 52px; }
.pad-l53 { padding-left: 53px; }
.pad-l54 { padding-left: 54px; }
.pad-l55 { padding-left: 55px; }
.pad-l56 { padding-left: 56px; }
.pad-l57 { padding-left: 57px; }
.pad-l58 { padding-left: 58px; }
.pad-l59 { padding-left: 59px; }
.pad-l60 { padding-left: 60px; }
.pad-l61 { padding-left: 61px; }
.pad-l62 { padding-left: 62px; }
.pad-l63 { padding-left: 63px; }
.pad-l64 { padding-left: 64px; }
.pad-l65 { padding-left: 65px; }
.pad-l66 { padding-left: 66px; }
.pad-l67 { padding-left: 67px; }
.pad-l68 { padding-left: 68px; }
.pad-l69 { padding-left: 69px; }
.pad-l70 { padding-left: 70px; }
.pad-l71 { padding-left: 71px; }
.pad-l72 { padding-left: 72px; }
.pad-l73 { padding-left: 73px; }
.pad-l74 { padding-left: 74px; }
.pad-l75 { padding-left: 75px; }
.pad-l76 { padding-left: 76px; }
.pad-l77 { padding-left: 77px; }
.pad-l78 { padding-left: 78px; }
.pad-l79 { padding-left: 79px; }
.pad-l80 { padding-left: 80px; }
.pad-l81 { padding-left: 81px; }
.pad-l82 { padding-left: 82px; }
.pad-l83 { padding-left: 83px; }
.pad-l84 { padding-left: 84px; }
.pad-l85 { padding-left: 85px; }
.pad-l86 { padding-left: 86px; }
.pad-l87 { padding-left: 87px; }
.pad-l88 { padding-left: 88px; }
.pad-l89 { padding-left: 89px; }
.pad-l90 { padding-left: 90px; }
.pad-l91 { padding-left: 91px; }
.pad-l92 { padding-left: 92px; }
.pad-l93 { padding-left: 93px; }
.pad-l94 { padding-left: 94px; }
.pad-l95 { padding-left: 95px; }
.pad-l96 { padding-left: 96px; }
.pad-l97 { padding-left: 97px; }
.pad-l98 { padding-left: 98px; }
.pad-l99 { padding-left: 99px; }
.pad-l100 { padding-left: 100px; }


.pad-r0 { padding-right: 0px; }
.pad-r1 { padding-right: 1px; }
.pad-r2 { padding-right: 2px; }
.pad-r3 { padding-right: 3px; }
.pad-r4 { padding-right: 4px; }
.pad-r5 { padding-right: 5px; }
.pad-r6 { padding-right: 6px; }
.pad-r7 { padding-right: 7px; }
.pad-r8 { padding-right: 8px; }
.pad-r9 { padding-right: 9px; }
.pad-r10 { padding-right: 10px; }
.pad-r11 { padding-right: 11px; }
.pad-r12 { padding-right: 12px; }
.pad-r13 { padding-right: 13px; }
.pad-r14 { padding-right: 14px; }
.pad-r15 { padding-right: 15px; }
.pad-r16 { padding-right: 16px; }
.pad-r17 { padding-right: 17px; }
.pad-r18 { padding-right: 18px; }
.pad-r19 { padding-right: 19px; }
.pad-r20 { padding-right: 20px; }
.pad-r21 { padding-right: 21px; }
.pad-r22 { padding-right: 22px; }
.pad-r23 { padding-right: 23px; }
.pad-r24 { padding-right: 24px; }
.pad-r25 { padding-right: 25px; }
.pad-r26 { padding-right: 26px; }
.pad-r27 { padding-right: 27px; }
.pad-r28 { padding-right: 28px; }
.pad-r29 { padding-right: 29px; }
.pad-r30 { padding-right: 30px; }
.pad-r31 { padding-right: 31px; }
.pad-r32 { padding-right: 32px; }
.pad-r33 { padding-right: 33px; }
.pad-r34 { padding-right: 34px; }
.pad-r35 { padding-right: 35px; }
.pad-r36 { padding-right: 36px; }
.pad-r37 { padding-right: 37px; }
.pad-r38 { padding-right: 38px; }
.pad-r39 { padding-right: 39px; }
.pad-r40 { padding-right: 40px; }
.pad-r41 { padding-right: 41px; }
.pad-r42 { padding-right: 42px; }
.pad-r43 { padding-right: 43px; }
.pad-r44 { padding-right: 44px; }
.pad-r45 { padding-right: 45px; }
.pad-r46 { padding-right: 46px; }
.pad-r47 { padding-right: 47px; }
.pad-r48 { padding-right: 48px; }
.pad-r49 { padding-right: 49px; }
.pad-r50 { padding-right: 50px; }
.pad-r51 { padding-right: 51px; }
.pad-r52 { padding-right: 52px; }
.pad-r53 { padding-right: 53px; }
.pad-r54 { padding-right: 54px; }
.pad-r55 { padding-right: 55px; }
.pad-r56 { padding-right: 56px; }
.pad-r57 { padding-right: 57px; }
.pad-r58 { padding-right: 58px; }
.pad-r59 { padding-right: 59px; }
.pad-r60 { padding-right: 60px; }
.pad-r61 { padding-right: 61px; }
.pad-r62 { padding-right: 62px; }
.pad-r63 { padding-right: 63px; }
.pad-r64 { padding-right: 64px; }
.pad-r65 { padding-right: 65px; }
.pad-r66 { padding-right: 66px; }
.pad-r67 { padding-right: 67px; }
.pad-r68 { padding-right: 68px; }
.pad-r69 { padding-right: 69px; }
.pad-r70 { padding-right: 70px; }
.pad-r71 { padding-right: 71px; }
.pad-r72 { padding-right: 72px; }
.pad-r73 { padding-right: 73px; }
.pad-r74 { padding-right: 74px; }
.pad-r75 { padding-right: 75px; }
.pad-r76 { padding-right: 76px; }
.pad-r77 { padding-right: 77px; }
.pad-r78 { padding-right: 78px; }
.pad-r79 { padding-right: 79px; }
.pad-r80 { padding-right: 80px; }
.pad-r81 { padding-right: 81px; }
.pad-r82 { padding-right: 82px; }
.pad-r83 { padding-right: 83px; }
.pad-r84 { padding-right: 84px; }
.pad-r85 { padding-right: 85px; }
.pad-r86 { padding-right: 86px; }
.pad-r87 { padding-right: 87px; }
.pad-r88 { padding-right: 88px; }
.pad-r89 { padding-right: 89px; }
.pad-r90 { padding-right: 90px; }
.pad-r91 { padding-right: 91px; }
.pad-r92 { padding-right: 92px; }
.pad-r93 { padding-right: 93px; }
.pad-r94 { padding-right: 94px; }
.pad-r95 { padding-right: 95px; }
.pad-r96 { padding-right: 96px; }
.pad-r97 { padding-right: 97px; }
.pad-r98 { padding-right: 98px; }
.pad-r99 { padding-right: 99px; }
.pad-r100 { padding-right: 100px; }


.pad-b0 { padding-bottom: 0px; }
.pad-b1 { padding-bottom: 1px; }
.pad-b2 { padding-bottom: 2px; }
.pad-b3 { padding-bottom: 3px; }
.pad-b4 { padding-bottom: 4px; }
.pad-b5 { padding-bottom: 5px; }
.pad-b6 { padding-bottom: 6px; }
.pad-b7 { padding-bottom: 7px; }
.pad-b8 { padding-bottom: 8px; }
.pad-b9 { padding-bottom: 9px; }
.pad-b10 { padding-bottom: 10px; }
.pad-b11 { padding-bottom: 11px; }
.pad-b12 { padding-bottom: 12px; }
.pad-b13 { padding-bottom: 13px; }
.pad-b14 { padding-bottom: 14px; }
.pad-b15 { padding-bottom: 15px; }
.pad-b16 { padding-bottom: 16px; }
.pad-b17 { padding-bottom: 17px; }
.pad-b18 { padding-bottom: 18px; }
.pad-b19 { padding-bottom: 19px; }
.pad-b20 { padding-bottom: 20px; }
.pad-b21 { padding-bottom: 21px; }
.pad-b22 { padding-bottom: 22px; }
.pad-b23 { padding-bottom: 23px; }
.pad-b24 { padding-bottom: 24px; }
.pad-b25 { padding-bottom: 25px; }
.pad-b26 { padding-bottom: 26px; }
.pad-b27 { padding-bottom: 27px; }
.pad-b28 { padding-bottom: 28px; }
.pad-b29 { padding-bottom: 29px; }
.pad-b30 { padding-bottom: 30px; }
.pad-b31 { padding-bottom: 31px; }
.pad-b32 { padding-bottom: 32px; }
.pad-b33 { padding-bottom: 33px; }
.pad-b34 { padding-bottom: 34px; }
.pad-b35 { padding-bottom: 35px; }
.pad-b36 { padding-bottom: 36px; }
.pad-b37 { padding-bottom: 37px; }
.pad-b38 { padding-bottom: 38px; }
.pad-b39 { padding-bottom: 39px; }
.pad-b40 { padding-bottom: 40px; }
.pad-b41 { padding-bottom: 41px; }
.pad-b42 { padding-bottom: 42px; }
.pad-b43 { padding-bottom: 43px; }
.pad-b44 { padding-bottom: 44px; }
.pad-b45 { padding-bottom: 45px; }
.pad-b46 { padding-bottom: 46px; }
.pad-b47 { padding-bottom: 47px; }
.pad-b48 { padding-bottom: 48px; }
.pad-b49 { padding-bottom: 49px; }
.pad-b50 { padding-bottom: 50px; }
.pad-b51 { padding-bottom: 51px; }
.pad-b52 { padding-bottom: 52px; }
.pad-b53 { padding-bottom: 53px; }
.pad-b54 { padding-bottom: 54px; }
.pad-b55 { padding-bottom: 55px; }
.pad-b56 { padding-bottom: 56px; }
.pad-b57 { padding-bottom: 57px; }
.pad-b58 { padding-bottom: 58px; }
.pad-b59 { padding-bottom: 59px; }
.pad-b60 { padding-bottom: 60px; }
.pad-b61 { padding-bottom: 61px; }
.pad-b62 { padding-bottom: 62px; }
.pad-b63 { padding-bottom: 63px; }
.pad-b64 { padding-bottom: 64px; }
.pad-b65 { padding-bottom: 65px; }
.pad-b66 { padding-bottom: 66px; }
.pad-b67 { padding-bottom: 67px; }
.pad-b68 { padding-bottom: 68px; }
.pad-b69 { padding-bottom: 69px; }
.pad-b70 { padding-bottom: 70px; }
.pad-b71 { padding-bottom: 71px; }
.pad-b72 { padding-bottom: 72px; }
.pad-b73 { padding-bottom: 73px; }
.pad-b74 { padding-bottom: 74px; }
.pad-b75 { padding-bottom: 75px; }
.pad-b76 { padding-bottom: 76px; }
.pad-b77 { padding-bottom: 77px; }
.pad-b78 { padding-bottom: 78px; }
.pad-b79 { padding-bottom: 79px; }
.pad-b80 { padding-bottom: 80px; }
.pad-b81 { padding-bottom: 81px; }
.pad-b82 { padding-bottom: 82px; }
.pad-b83 { padding-bottom: 83px; }
.pad-b84 { padding-bottom: 84px; }
.pad-b85 { padding-bottom: 85px; }
.pad-b86 { padding-bottom: 86px; }
.pad-b87 { padding-bottom: 87px; }
.pad-b88 { padding-bottom: 88px; }
.pad-b89 { padding-bottom: 89px; }
.pad-b90 { padding-bottom: 90px; }
.pad-b91 { padding-bottom: 91px; }
.pad-b92 { padding-bottom: 92px; }
.pad-b93 { padding-bottom: 93px; }
.pad-b94 { padding-bottom: 94px; }
.pad-b95 { padding-bottom: 95px; }
.pad-b96 { padding-bottom: 96px; }
.pad-b97 { padding-bottom: 97px; }
.pad-b98 { padding-bottom: 98px; }
.pad-b99 { padding-bottom: 99px; }
.pad-b100 { padding-bottom: 100px; }


.pad-t0 { padding-top: 0px; }
.pad-t1 { padding-top: 1px; }
.pad-t2 { padding-top: 2px; }
.pad-t3 { padding-top: 3px; }
.pad-t4 { padding-top: 4px; }
.pad-t5 { padding-top: 5px; }
.pad-t6 { padding-top: 6px; }
.pad-t7 { padding-top: 7px; }
.pad-t8 { padding-top: 8px; }
.pad-t9 { padding-top: 9px; }
.pad-t10 { padding-top: 10px; }
.pad-t11 { padding-top: 11px; }
.pad-t12 { padding-top: 12px; }
.pad-t13 { padding-top: 13px; }
.pad-t14 { padding-top: 14px; }
.pad-t15 { padding-top: 15px; }
.pad-t16 { padding-top: 16px; }
.pad-t17 { padding-top: 17px; }
.pad-t18 { padding-top: 18px; }
.pad-t19 { padding-top: 19px; }
.pad-t20 { padding-top: 20px; }
.pad-t21 { padding-top: 21px; }
.pad-t22 { padding-top: 22px; }
.pad-t23 { padding-top: 23px; }
.pad-t24 { padding-top: 24px; }
.pad-t25 { padding-top: 25px; }
.pad-t26 { padding-top: 26px; }
.pad-t27 { padding-top: 27px; }
.pad-t28 { padding-top: 28px; }
.pad-t29 { padding-top: 29px; }
.pad-t30 { padding-top: 30px; }
.pad-t31 { padding-top: 31px; }
.pad-t32 { padding-top: 32px; }
.pad-t33 { padding-top: 33px; }
.pad-t34 { padding-top: 34px; }
.pad-t35 { padding-top: 35px; }
.pad-t36 { padding-top: 36px; }
.pad-t37 { padding-top: 37px; }
.pad-t38 { padding-top: 38px; }
.pad-t39 { padding-top: 39px; }
.pad-t40 { padding-top: 40px; }
.pad-t41 { padding-top: 41px; }
.pad-t42 { padding-top: 42px; }
.pad-t43 { padding-top: 43px; }
.pad-t44 { padding-top: 44px; }
.pad-t45 { padding-top: 45px; }
.pad-t46 { padding-top: 46px; }
.pad-t47 { padding-top: 47px; }
.pad-t48 { padding-top: 48px; }
.pad-t49 { padding-top: 49px; }
.pad-t50 { padding-top: 50px; }
.pad-t51 { padding-top: 51px; }
.pad-t52 { padding-top: 52px; }
.pad-t53 { padding-top: 53px; }
.pad-t54 { padding-top: 54px; }
.pad-t55 { padding-top: 55px; }
.pad-t56 { padding-top: 56px; }
.pad-t57 { padding-top: 57px; }
.pad-t58 { padding-top: 58px; }
.pad-t59 { padding-top: 59px; }
.pad-t60 { padding-top: 60px; }
.pad-t61 { padding-top: 61px; }
.pad-t62 { padding-top: 62px; }
.pad-t63 { padding-top: 63px; }
.pad-t64 { padding-top: 64px; }
.pad-t65 { padding-top: 65px; }
.pad-t66 { padding-top: 66px; }
.pad-t67 { padding-top: 67px; }
.pad-t68 { padding-top: 68px; }
.pad-t69 { padding-top: 69px; }
.pad-t70 { padding-top: 70px; }
.pad-t71 { padding-top: 71px; }
.pad-t72 { padding-top: 72px; }
.pad-t73 { padding-top: 73px; }
.pad-t74 { padding-top: 74px; }
.pad-t75 { padding-top: 75px; }
.pad-t76 { padding-top: 76px; }
.pad-t77 { padding-top: 77px; }
.pad-t78 { padding-top: 78px; }
.pad-t79 { padding-top: 79px; }
.pad-t80 { padding-top: 80px; }
.pad-t81 { padding-top: 81px; }
.pad-t82 { padding-top: 82px; }
.pad-t83 { padding-top: 83px; }
.pad-t84 { padding-top: 84px; }
.pad-t85 { padding-top: 85px; }
.pad-t86 { padding-top: 86px; }
.pad-t87 { padding-top: 87px; }
.pad-t88 { padding-top: 88px; }
.pad-t89 { padding-top: 89px; }
.pad-t90 { padding-top: 90px; }
.pad-t91 { padding-top: 91px; }
.pad-t92 { padding-top: 92px; }
.pad-t93 { padding-top: 93px; }
.pad-t94 { padding-top: 94px; }
.pad-t95 { padding-top: 95px; }
.pad-t96 { padding-top: 96px; }
.pad-t97 { padding-top: 97px; }
.pad-t98 { padding-top: 98px; }
.pad-t99 { padding-top: 99px; }
.pad-t100 { padding-top: 100px; }

.pad-a0 { padding: 0px; }
.pad-a1 { padding: 1px; }
.pad-a2 { padding: 2px; }
.pad-a3 { padding: 3px; }
.pad-a4 { padding: 4px; }
.pad-a5 { padding: 5px; }
.pad-a6 { padding: 6px; }
.pad-a7 { padding: 7px; }
.pad-a8 { padding: 8px; }
.pad-a9 { padding: 9px; }
.pad-a10 { padding: 10px; }
.pad-a11 { padding: 11px; }
.pad-a12 { padding: 12px; }
.pad-a13 { padding: 13px; }
.pad-a14 { padding: 14px; }
.pad-a15 { padding: 15px; }
.pad-a16 { padding: 16px; }
.pad-a17 { padding: 17px; }
.pad-a18 { padding: 18px; }
.pad-a19 { padding: 19px; }
.pad-a20 { padding: 20px; }
.pad-a21 { padding: 21px; }
.pad-a22 { padding: 22px; }
.pad-a23 { padding: 23px; }
.pad-a24 { padding: 24px; }
.pad-a25 { padding: 25px; }
.pad-a26 { padding: 26px; }
.pad-a27 { padding: 27px; }
.pad-a28 { padding: 28px; }
.pad-a29 { padding: 29px; }
.pad-a30 { padding: 30px; }
.pad-a31 { padding: 31px; }
.pad-a32 { padding: 32px; }
.pad-a33 { padding: 33px; }
.pad-a34 { padding: 34px; }
.pad-a35 { padding: 35px; }
.pad-a36 { padding: 36px; }
.pad-a37 { padding: 37px; }
.pad-a38 { padding: 38px; }
.pad-a39 { padding: 39px; }
.pad-a40 { padding: 40px; }
.pad-a41 { padding: 41px; }
.pad-a42 { padding: 42px; }
.pad-a43 { padding: 43px; }
.pad-a44 { padding: 44px; }
.pad-a45 { padding: 45px; }
.pad-a46 { padding: 46px; }
.pad-a47 { padding: 47px; }
.pad-a48 { padding: 48px; }
.pad-a49 { padding: 49px; }
.pad-a50 { padding: 50px; }
.pad-a51 { padding: 51px; }
.pad-a52 { padding: 52px; }
.pad-a53 { padding: 53px; }
.pad-a54 { padding: 54px; }
.pad-a55 { padding: 55px; }
.pad-a56 { padding: 56px; }
.pad-a57 { padding: 57px; }
.pad-a58 { padding: 58px; }
.pad-a59 { padding: 59px; }
.pad-a60 { padding: 60px; }
.pad-a61 { padding: 61px; }
.pad-a62 { padding: 62px; }
.pad-a63 { padding: 63px; }
.pad-a64 { padding: 64px; }
.pad-a65 { padding: 65px; }
.pad-a66 { padding: 66px; }
.pad-a67 { padding: 67px; }
.pad-a68 { padding: 68px; }
.pad-a69 { padding: 69px; }
.pad-a70 { padding: 70px; }
.pad-a71 { padding: 71px; }
.pad-a72 { padding: 72px; }
.pad-a73 { padding: 73px; }
.pad-a74 { padding: 74px; }
.pad-a75 { padding: 75px; }
.pad-a76 { padding: 76px; }
.pad-a77 { padding: 77px; }
.pad-a78 { padding: 78px; }
.pad-a79 { padding: 79px; }
.pad-a80 { padding: 80px; }
.pad-a81 { padding: 81px; }
.pad-a82 { padding: 82px; }
.pad-a83 { padding: 83px; }
.pad-a84 { padding: 84px; }
.pad-a85 { padding: 85px; }
.pad-a86 { padding: 86px; }
.pad-a87 { padding: 87px; }
.pad-a88 { padding: 88px; }
.pad-a89 { padding: 89px; }
.pad-a90 { padding: 90px; }
.pad-a91 { padding: 91px; }
.pad-a92 { padding: 92px; }
.pad-a93 { padding: 93px; }
.pad-a94 { padding: 94px; }
.pad-a95 { padding: 95px; }
.pad-a96 { padding: 96px; }
.pad-a97 { padding: 97px; }
.pad-a98 { padding: 98px; }
.pad-a99 { padding: 99px; }
.pad-a100 { padding: 100px; }


.font-size0 { font-size: 0px; }
.font-size1 { font-size: 1px; }
.font-size2 { font-size: 2px; }
.font-size3 { font-size: 3px; }
.font-size4 { font-size: 4px; }
.font-size5 { font-size: 5px; }
.font-size6 { font-size: 6px; }
.font-size7 { font-size: 7px; }
.font-size8 { font-size: 8px; }
.font-size9 { font-size: 9px; }
.font-size10 { font-size: 10px; }
.font-size11 { font-size: 11px; }
.font-size12 { font-size: 12px; }
.font-size13 { font-size: 13px; }
.font-size14 { font-size: 14px; }
.font-size15 { font-size: 15px; }
.font-size16 { font-size: 16px; }
.font-size17 { font-size: 17px; }
.font-size18 { font-size: 18px; }
.font-size19 { font-size: 19px; }
.font-size20 { font-size: 20px; }
.font-size21 { font-size: 21px; }
.font-size22 { font-size: 22px; }
.font-size23 { font-size: 23px; }
.font-size24 { font-size: 24px; }
.font-size25 { font-size: 25px; }
.font-size26 { font-size: 26px; }
.font-size27 { font-size: 27px; }
.font-size28 { font-size: 28px; }
.font-size29 { font-size: 29px; }
.font-size30 { font-size: 30px; }
.font-size31 { font-size: 31px; }
.font-size32 { font-size: 32px; }
.font-size33 { font-size: 33px; }
.font-size34 { font-size: 34px; }
.font-size35 { font-size: 35px; }
.font-size36 { font-size: 36px; }
.font-size37 { font-size: 37px; }
.font-size38 { font-size: 38px; }
.font-size39 { font-size: 39px; }
.font-size40 { font-size: 40px; }
.font-size41 { font-size: 41px; }
.font-size42 { font-size: 42px; }
.font-size43 { font-size: 43px; }
.font-size44 { font-size: 44px; }
.font-size45 { font-size: 45px; }
.font-size46 { font-size: 46px; }
.font-size47 { font-size: 47px; }
.font-size48 { font-size: 48px; }
.font-size49 { font-size: 49px; }
.font-size50 { font-size: 50px; }

.cursor-pointer{ cursor: pointer}